<h1>Derek Jin<h1> 
<br/>
<h1> Home Town: Irvine, CA </h1>
<br/>
<h1> Year: Sophomore </h1>
<br/>
<h1>Fun Fact: I love rock climbing</h1>
<br/>
<h1>Class: Can't wait to add Ruby on Rails to my toolkit</h1>
<br/>